/*=======================
Theme: Crud Xml Fork 
Author: Patrick Roux
Author Website: patrickroux.fr
Version: 1.00

=======================
CSS Style Structure
- GENERAL

=======================*/

/*--------------------------
---------- GENERAL ---------
--------------------------*/

body{
	background-color: #fcfcfc;
	color: #444;
}

.myform{
	background: #f0f0f0;
	margin-bottom: 30px;
}